<a href="https://colab.research.google.com/github/Anupam-2105/colab/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [4]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [5]:
myindex=["A","B","C","D"]

In [6]:
mycol=["Jan","Feb","Mar"]

In [15]:
df=pd.DataFrame(mydata)

In [16]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [17]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [18]:
df=pd.DataFrame(mydata,myindex,mycol)

In [19]:
df

   Jan  Feb  Mar
A   95   11   81
B   70   63   87
C   75    9   77
D   40    4   63

In [20]:
df

   Jan  Feb  Mar
A   95   11   81
B   70   63   87
C   75    9   77
D   40    4   63

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes